# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-change-in-production"

# Cloudinary (Image Upload)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dghmld0c3"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="kmt_profiles"

# App
NODE_ENV="development"
